<h1>Create your account</h1>
<form action="/signup" method="post">
	<input type="text" id="username" name="username" placeholder="Username">
	<input type="email" id="email" name="email" placeholder="email">
	<input type="password" id="password" name="password" placeholder="password"> <br><br>
	<input type="submit" value="Sign Up">
</form>