<div class="folder_bg padding_top_100">

	<form class="width_50 float_left" action="/login" method="post">
		<label for="username">Username:</label><br>
		<input type="text" id="username" name="username"> <br><br>

		<label for="password">Password:</label><br>
		<input type="password" id="password" name="password"><br><br>

		<input class="btn btn-primary btn-sm" type="submit" value="Login">
	</form>

	<p class="width_50 float_right padding_top_100">New User? <a class="btn btn-primary btn-sm" href="/signup" role="button">Sign Up</a>
	</p>

	<% if flash.has?(:message) %>
	  <div class="alert alert-danger clear" role="alert">
	  <%= flash[:message] %>
	  </div>
	<% end %>

</div>