<% if logged_in? %>
	<div class="folder_bg_long">
	<h2 class="create_h2 padding_top_30">Add A Bill</h2>

	<form class="bill_form width_50 text-left" action="/bills" method="post">
		<label for="company_name">Company Name:</label>
		<input type="text" id="company_name" name="company_name" required><br><br>

		<label for="amount">Amount: $</label>
		<input type="number" step="0.01" id="amount" name="amount" required><br><br>

		<label for="due_date">Due Date:</label>
		<input type="date" id="due_date" name="due_date" required><br><br>

		<h4>Recurrence:</h4>
		<input type="radio" name="recurrence" value="monthly" checked> Monthly<br>
		<input type="radio" name="recurrence" value="quarterly"> Quarterly<br>
		<input type="radio" name="recurrence" value="yearly"> Yearly<br>
		<input type="radio" name="recurrence" value="no"> Not Recurring<br><br>

		<h4>Paid:</h4>
		<input type="radio" name="paid" value="1"> Yes<br>
		<input type="radio" name="paid" value="0" checked> No<br><br>
		<input class="btn btn-sm btn-primary" type="submit" value="Add Bill">
		<a class="float_right btn btn-sm btn-danger" href="/bills">Cancel</a>
	</form>

	</div>

<% else %>
	<p>Please <a href="/login">Login</a> to view your bills.</p>
<% end %>