<% if logged_in? %>

	<h1>Track a new bill</h1>
	<form action="/bills" method="post">
		<label for="company_name">Company Name:</label>
		<input type="text" id="company_name" name="company_name"><br><br>
		<label for="amount">Amount: $</label>
		<input type="text" id="amount" name="amount"><br><br>
		<label for="due_date">Due Date:</label>
		<input type="date" id="due_date" name="due_date"><br><br>
		<h4>Recurrent:</h4>
		<input type="radio" id="monthly" name="recurrent" value="monthly" checked><label for="monthly">Monthly</label><br>
		<input type="radio" id="quarterly" name="recurrent" value="quarterly"><label for="quarterly">Quarterly</label><br>
		<input type="radio" id="annually" name="recurrent" value="annually"><label for="annually">Annually</label><br>
		<input type="radio" id="not_recurrent" name="recurrent" value="no"><label for="not_recurrent">Not Recurrent</label><br><br>
		<h4>Paid:</h4>
		<input type="radio" id="paid" name="paid" value="yes"><label for="paid">Yes</label><br>
		<input type="radio" id="not_paid" name="paid" value="no" checked><label for="not_paid">No</label><br><br>
		<input type="submit" value="Add Bill">
	</form>

<% else %>
	<p>Please <a href="/login">Login</a> to view your bills.</p>
<% end %>