<div id="index_folder" class="folder_bg">
	<p class="lead">All your bills at a glance.</p>
	<a class="btn btn-primary" href="/signup" role="button">Sign Up</a> /
	<a class="btn btn-primary" href="/login" role="button">Log In</a>
</div>