<!doctype html>
<html>
  <head>
    <title>Payment Tracker</title>
  </head>
  <body>

    <div class="container">
    	<h1>Payment Tracker</h1>
      	<%= yield %>

      	<% if logged_in? %>
      	<div id="logout">
      	<a href="/logout">Logout</a>
      	</div>
      	<% end %>

    </div>

  </body>
</html>
